{% extends 'base.html.twig' %}

{% block body %}
    <h1>Goonswarm Federation Official Emote Pack Releases</h1>
    <h2>Releases</h2>
    <ul>
    {% for release in releases %}
        <li><a href="{{ release.getUrl }}">{{ release.getName }}</a></li>
    {% endfor %}
    </ul>
    <h2>Installation Instructions</h2>
    Unzip the emote pack to %appdata%/.purple/smileys/ (on Windows) or ~/.purple/smileys/ (MacOS, Linux), then restart Pidgin.
    Open up Preferences &gt; Themes, and select the pack.
    <h2>History</h2>
    <ul>
    {% for history in historyEntries %}
        <li>{{ history.getDateCreated.format('Y/m/d') }}: {{ history|historyEmotes }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{#{% block stylesheets %}#}
{#{% endblock %}#}
